[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=netcdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=netCDF File Reader
Name[da]=netCDF-fillæser
Name[es]=Lector de archivos netCDF
Name[et]=netCDF-faili lugeja
Name[it]=Lettore file netCDF
Name[nl]=netCDF-bestandslezer
Name[pt]=Leitor de Ficheiros netCDF
Name[pt_BR]=Leitor de Ficheiros netCDF
Name[sr]=Читач netCDF фајлова
Name[sr@Latn]=Čitač netCDF fajlova
Name[sv]=netCDF-filläsare
Name[ta]=netCDF கோப்பு படிப்பான்
Name[tr]=netCDF Dosyası Okuyucusu
Name[zh_CN]=netCDF 文件阅读器
Comment=Implements support for reading netCDF files into Kst.
Comment[da]=Implementerer støtte for at læse netCDF-filer i Kst.
Comment[es]=Implementa soporte para leer archivos netCDF en Kst.
Comment[et]=Kst netCDF-failide lugemise toetus.
Comment[it]=Implementa supporto per leggere file netCDF in Kst.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van netCDF-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do netCDF no Kst.
Comment[pt_BR]=Implementa o suporte para a leitura de ficheiros do netCDF no Kst.
Comment[sr]=Имплементира подршку за читање netCDF фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje netCDF fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in netCDF-filer i Kst.
Comment[ta]=Kstக்குள் netCDF கோப்புகளை படிக்க ஆதரவை அமுலாக்குகிறது
Comment[tr]=Kst içine netCDF dosyalarını okuma desteği sağlar.
Comment[zh_CN]=将 netCDF 文件读入 Kst 的应用支持。
