[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_chop
X-Kst-Plugin-Author=Andrew Walker
Name=Chop
Name[bg]=Насичане
Name[ca]=Divisió
Name[da]=Opdeling
Name[de]=Abschneiden
Name[el]=Τεμαχισμός
Name[es]=Cortar
Name[et]=Tükeldamine
Name[it]=Dividi
Name[nds]=Opspleten
Name[nl]=Verdeel
Name[pt]=Recorte
Name[sr]=Сецкалица
Name[sr@Latn]=Seckalica
Name[sv]=Uppdelning
Name[xx]=xxChopxx
Comment=Chops a given data set into odd, even, difference, and Index data sets.
Comment[bg]=Насичане на дадения набор данни на четни, нечетни, различни и индексни групи данни.
Comment[ca]=Divideix un conjunt de dades en conjunts de dades parells, senars, diferències, i d'índex.
Comment[da]=Deler en given datamængde op i ulige, lige, forskel og indeks datamængder.
Comment[de]=Schneidet die gegebenen Daten in gerade, ungerade, Differenz- und Indexdatenmengen.
Comment[el]=Τεμαχισμός ενός δοσμένου συνόλου δεδομένων στα σύνολα δεδομένων μονών, ζυγών, διαφοράς και δεικτών.
Comment[es]=Corta una serie de datos en las series de datos impares, pares, diferencia e index.
Comment[et]=Tükeldab antud andmekogumi paaris-, paarituks, diferents- ja indeksandmekogumiks.
Comment[it]=Divide un insieme di dati in insiemi di dati pari, dispari, differenze e indici.
Comment[nds]=Splitt en Datensett na uneven, even, Verscheel- un Index-Datensetten.
Comment[nl]=Verdeelt een gegeven verzameling van gegevens in oneven-, even-, verschillen-, en index- deelverzamelingen.
Comment[pt]=Recorta um dado conjunto de dados em conjuntos de pares, ímpares, diferenças e índices.
Comment[pt_BR]=Divide um dado fornecido em ímpar, par, diferença, e índice do conjunto de dados.
Comment[sr]=Сече дати скуп података на непарне, парне, разлику и индексира скуп података.
Comment[sr@Latn]=Seče dati skup podataka na neparne, parne, razliku i indeksira skup podataka.
Comment[sv]=Delar upp en given datamängd i udda, jämn, skillnad och index datamängder.
Comment[vi]=Cắt một tập dữ liệu đã cho ra các tập dữ liệu kiểu lẻ, chẵn, hiệu và chỉ mục.
Comment[xx]=xxChops a given data set into odd, even, difference, and Index data sets.xx
