[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_convolve
X-Kst-Plugin-Author=Andrew Walker
Name=Convolution
Name[da]=Foldning
Name[el]=Συνένωση
Name[et]=Konvolutsioon
Name[it]=Convoluzione
Name[pt]=Convolução
Name[pt_BR]=Convolução
Name[sv]=Faltning
Comment=Generates the convolution of one vector with another.
Comment[da]=Opretter foldningen af to vektorer.
Comment[el]=Δημιουργεί τη συνένωση ενός διανύσματος με ένα άλλο.
Comment[et]=Genereerib kahe vektori konvolutsiooni.
Comment[it]=Genera la convoluzione di un vettore con un altro.
Comment[pt]=Gera a convolução de um vector com outro.
Comment[pt_BR]=Gera a convolução de um vector com outro.
Comment[sv]=Skapar faltningen av två vektorer.
