[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=planck
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK Plugin
Name[ca]=Connector PLANCK
Name[de]=PLANCK-Plugin
Name[es]=Complemento PLANCK
Name[et]=PLANCK plugin
Name[fi]=PLANCK-liitännäinen
Name[it]=Plugin PLANCK
Name[pt]='Plugin' PLANCK
Name[pt_BR]=Plug-in PLANCK
Name[sr]=PLANCK додатак
Name[sv]=Planck-insticksprogram
Name[xx]=xxPLANCK Pluginxx
Comment=Plugin to read PLANCK data.
Comment[ca]=Connector per a llegir dades PLANCK.
Comment[da]=Plugin til at læse PLANCK-data.
Comment[de]=Plugin zum Lesen von PLANCK-Daten
Comment[es]=Complemento para leer datos PLANCK.
Comment[et]=Plugin PLANCK andmete lugemiseks.
Comment[it]=Plugin per leggere dati PLANCK.
Comment[pt]=Um 'plugin' para ler os dados do PLANCK.
Comment[pt_BR]=Plug-in para a leitura de dados PLANCK.
Comment[sr]=Додатак за читање PLANCK-ових података.
Comment[sv]=Insticksprogram för att läsa Planck-data.
Comment[xx]=xxPlugin to read PLANCK data.xx
