[Desktop Entry]
Comment=Graphviz dot graph file viewed by KGraphViewer
Comment[da]=Graphviz dot grafikfil vist af Kgraphviewer
Comment[el]=Το αρχείο γραφικών Graphviz προβάλλεται με το KGraphViewer
Comment[es]=Archivo de gráfico puntual de Graphviz visto por KGraphViewer
Comment[et]=KGraphVieweri näidatud Graphviz dot-graafik
Comment[ga]=Comhad poncghraif Graphviz mar taispeánta ag KGraphViewer
Comment[gl]=Ficheiro de Graphviz mostrado por KGraphViewer
Comment[is]=Graphviz dot línurit skoðað með KGraphViewer
Comment[it]=Un file dot di GraphViz visualizzato da KGraphViewer
Comment[ja]=KGraphViewer で表示する Graphviz ドットグラフファイル
Comment[nl]=Graphviz puntgrafiek bekeken met KGraphViewer
Comment[pt]=Ficheiro de grafo pontual do Graphviz visto pelo KGraphViewer
Comment[sk]=KGraphViewer Graphviz dot graph súbor
Comment[sv]=Graphviz dot grafikfil visad av Kgraphviewer
Encoding=UTF-8
Icon=kgraphviewer
MimeType=application/kgraphviewer
Patterns=*.dot
Type=MimeType
