[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_polynomial
X-Kst-Plugin-Author=Andrew Walker
Name=Interpolation polynomial
Name[da]=Polynomisk interpolation
Name[es]=Interpolacion polinomial
Name[et]=Polünomiaal-interpoleerimine
Name[it]=Interpolazione polinomiale
Name[pt]=Interpolação polinomial
Name[pt_BR]=Interpolação polinomial
Name[sv]=Polynominterpolering
Comment=Generates a polynomial interpolation for a set of data.
Comment[da]=Opretter en polynomisk interpolation for en datamængde.
Comment[es]=Genera una interpolacion polinomial para un conjunto de datos.
Comment[et]=Genereerib antud andmekogumi polünomiaalse interpolatsiooni.
Comment[it]=Genera una interpolazione polinomiale per un insieme di dati.
Comment[pt]=Gera uma interpolação polinomial para um conjunto de dados.
Comment[pt_BR]=Gera uma interpolação polinomial para um conjunto de dados.
Comment[sv]=Skapar en polynominterpolering för en datamängd.
