[Desktop Entry]
ServiceTypes=inode/directory
Actions=ShowImg;
Encoding=UTF-8
Type=Application
Name=Browse Images with ShowImg
Name[bg]=Преглед с ShowImg
Name[br]=Furchal skeudennoù gant ShowImg
Name[ca]=Visualitza les imatges amb el ShowImg
Name[cs]=Prohlížet obrázky v ShowImg
Name[da]=Gennemse billeder med ShowImg
Name[de]=Bilder mit ShowImg durchsehen
Name[el]=Περιήγηση των εικόνων με το ShowImg
Name[es]=Examinar imágenes con ShowImg
Name[et]=Piltide sirvimine ShowImg-ga
Name[fi]=Katsele kuvia ShowImg-selaimella.
Name[fr]=Parcourir les images avec ShowImg
Name[ga]=Brabhsáil Íomhánna le ShowImg
Name[gl]=Examinar Imaxes con ShowImg
Name[hi]=शो-आईएमजी के साथ ब़्राउज़ करें
Name[hr]=Pretraživanje slika pomoću ShowImg
Name[is]=Fletta í myndum með ShowImg
Name[it]=Sfoglia immagini con ShowImg
Name[ja]=ShowImg で画像を閲覧
Name[ka]=სურათების დათვალიერება ShowImg-ით
Name[nb]=Se på bilder med ShowImg
Name[nl]=Blader door afbeeldingen met ShowImg
Name[pt]=Navegar em Imagens com o ShowImg
Name[pt_BR]=Navegar pelas imagens com o ShowImg
Name[ru]=Просмотр изображений в ShowImg
Name[sr]=Прегледање слика ShowImg-ом
Name[sr@Latn]=Pregledanje slika ShowImg-om
Name[sv]=Bläddra bland bilder med Showimg
Name[ta]=உருவத்தைக் காட்டு என்பதில் பிம்பங்களை உலாவு
Name[tg]=Ҷустани тасвирҳо бо барномаи Намоишгари-Img
Name[tr]=ShowImg ile resimlere gözatın
Name[uk]=Перегляд зображень у ShowImg
Name[vi]=Duyệt qua các ảnh bằng ShowImg
Name[xx]=xxBrowse Images with ShowImgxx
Name[zh_CN]=使用 ShowImg 浏览图像

[Desktop Action ShowImg]
Name=Browse Images with ShowImg
Name[bg]=Преглед с ShowImg
Name[br]=Furchal skeudennoù gant ShowImg
Name[ca]=Visualitza les imatges amb el ShowImg
Name[cs]=Prohlížet obrázky v ShowImg
Name[da]=Gennemse billeder med ShowImg
Name[de]=Bilder mit ShowImg durchsehen
Name[el]=Περιήγηση των εικόνων με το ShowImg
Name[es]=Examinar imágenes con ShowImg
Name[et]=Piltide sirvimine ShowImg-ga
Name[fi]=Katsele kuvia ShowImg-selaimella.
Name[fr]=Parcourir les images avec ShowImg
Name[ga]=Brabhsáil Íomhánna le ShowImg
Name[gl]=Examinar Imaxes con ShowImg
Name[hi]=शो-आईएमजी के साथ ब़्राउज़ करें
Name[hr]=Pretraživanje slika pomoću ShowImg
Name[is]=Fletta í myndum með ShowImg
Name[it]=Sfoglia immagini con ShowImg
Name[ja]=ShowImg で画像を閲覧
Name[ka]=სურათების დათვალიერება ShowImg-ით
Name[nb]=Se på bilder med ShowImg
Name[nl]=Blader door afbeeldingen met ShowImg
Name[pt]=Navegar em Imagens com o ShowImg
Name[pt_BR]=Navegar pelas imagens com o ShowImg
Name[ru]=Просмотр изображений в ShowImg
Name[sr]=Прегледање слика ShowImg-ом
Name[sr@Latn]=Pregledanje slika ShowImg-om
Name[sv]=Bläddra bland bilder med Showimg
Name[ta]=உருவத்தைக் காட்டு என்பதில் பிம்பங்களை உலாவு
Name[tg]=Ҷустани тасвирҳо бо барномаи Намоишгари-Img
Name[tr]=ShowImg ile resimlere gözatın
Name[uk]=Перегляд зображень у ShowImg
Name[vi]=Duyệt qua các ảnh bằng ShowImg
Name[xx]=xxBrowse Images with ShowImgxx
Name[zh_CN]=使用 ShowImg 浏览图像
Icon=showimg
Exec=showimg %u
Type=Application
