[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;KDE;Graphics;
Exec=showimg -caption "%c" %i %m
Icon=showimg
DocPath=showimg/index.html
Comment=Feature-rich image viewer
Comment[bg]=Подробна програма за преглед на изображения
Comment[br]=gweler skeudennoù meur a arc'hweloù
Comment[bs]=Preglednik slika bogat mogućnostima
Comment[ca]=Visualitzador d'imatges amb força funcionalitats
Comment[cs]=Prohlížeč obrázků s mnoha funkcemi
Comment[da]=Funktionsrig billedfremviser
Comment[de]=Bildbetrachter mit vielen Funktionen
Comment[el]=Προβολέας εικόνων με πολλά χαρακτηριστικά
Comment[es]=Un visualizador de imágenes rico en funcionalidades
Comment[et]=Võimalusterohke piltide vaataja
Comment[fi]=Runsaasti ominaisuuksia sisältävä kuvaselain
Comment[fr]=Visualisateur d'images aux nombreuses fonctionnalités
Comment[gl]=Un visor de imaxes rico en funcionalidades
Comment[hi]=विशेषताओं से परिपूर्ण चित्र प्रदर्शक
Comment[hr]=Preglednik slika bogat osobinama
Comment[hu]=Sok szolgáltatást nyújtó képnézegető
Comment[is]=Fjölhæfur myndaskoðari
Comment[it]=Visualizzatore di immagini con molte funzionalità
Comment[ja]=機能豊富な画像ビューア
Comment[ka]=ფუნქციებით მდიდარი სურათების დამთვალიერებელი
Comment[nb]=Funksjonsrik bildeviser
Comment[nl]=Uitgebreid afbeeldingenweergaveprogramma
Comment[pt]=Um visualizador de imagens rico em funcionalidades
Comment[pt_BR]=Visualizador de imagens rico em recursos
Comment[ru]=Многофункциональная программа просмотра изображений
Comment[sr]=Приказивач слика са много могућности
Comment[sr@Latn]=Prikazivač slika sa mnogo mogućnosti
Comment[sv]=Funktionsrik bildvisning
Comment[ta]=தன்மை- உயர்வானத் தோற்றத்தை நோக்குதல்
Comment[tg]=Намоигари тасвирҳо
Comment[tr]=Zengin özellikli resim gösterici
Comment[uk]=Бангатофункціональний переглядач зображень
Comment[vi]=Bộ xem ảnh có tính năng đầy đủ
Comment[xx]=xxFeature-rich image viewerxx
Comment[zh_CN]=多格式图像查看器
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/bmp;image/png;image/x-png;image/tiff;image/x-xcf;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-anymap;image/x-portable-graymap;application/sia
Name=ShowImg
Name[hi]=शो-आईएमजी
Name[sv]=Showimg
Name[ta]=தோற்றத்தைகாட்டுதல்
Name[tg]=Намоишгари-Img
Name[xx]=xxShowImgxx
GenericName=Image Explorer
GenericName[bg]=Преглед на изображения
GenericName[br]=Furcher Skeudennoù
GenericName[bs]=Istraživač slika
GenericName[ca]=Explorador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedudforsker
GenericName[de]=Bildbetrachter
GenericName[el]=Εξερευνητής εικόνων
GenericName[es]=Explorador de imágenes
GenericName[et]=Piltide vaataja
GenericName[fi]=Kuvaselain
GenericName[fr]=Visualisateur d'images
GenericName[gl]=Explorador de Imaxes
GenericName[hi]=छवि एक्सप्लोरर
GenericName[hr]=Preglednik slika
GenericName[hu]=Képböngésző
GenericName[is]=Myndaskoðari
GenericName[it]=Navigatore di immagini
GenericName[ja]=画像ビューア
GenericName[ka]=სურათების გამხსნელი
GenericName[nb]=Bildeutforsker
GenericName[nl]=Afbeeldingenverkenner
GenericName[pa]=ਚਿੱਤਰ ਝਲਕਾਰਾ
GenericName[pt]=Explorador de Imagens
GenericName[pt_BR]=Explorador de Imagens
GenericName[ru]=Программа просмотра изображений
GenericName[sr]=Истраживач слика
GenericName[sr@Latn]=Istraživač slika
GenericName[sv]=Bildutforskare
GenericName[ta]=தோற்றஎக்ஸ்புளோரர் 
GenericName[tg]=Барнома барои тасвирҳо
GenericName[tr]=Resim Gezgini
GenericName[uk]=Переглядач зображень
GenericName[vi]=Bộ thâm dò ảnh
GenericName[xx]=xxImage Explorerxx
GenericName[zh_CN]=图像探索者
Terminal=false
