[Desktop Entry]
Comment=Document Photoshop
Comment[bg]=Документ на Photoshop
Comment[br]=Teul Photoshop
Comment[bs]=Photoshop dokument
Comment[ca]=Document de Photoshop
Comment[cs]=Photoshop dokument
Comment[da]=Dokument Photoshop
Comment[de]=Photoshop-Dokument
Comment[el]=Έγγραφο Photoshop
Comment[es]=Documento de Photoshop
Comment[et]=Dokument Photoshop
Comment[fi]=Photoshop-dokumentti
Comment[gl]=Documento de Photoshop
Comment[hi]=फोटोशॉप दस्तावेज
Comment[hr]=Photoshop dokument
Comment[hu]=Photoshop-dokumentum
Comment[is]=Photoshop skrá
Comment[it]=Photoshop di documenti
Comment[ja]=ドキュメントフォトショップ
Comment[ka]=Photoshop-ის დოკუმენტი
Comment[ms]=Dokumen Photoshop
Comment[nb]=Photoshop-dokument
Comment[nds]=Photoshop-Dokment
Comment[nl]=Photoshop-document
Comment[pa]=ਦਸਤਾਵੇਜ਼ ਫੋਟੋਸ਼ਾਪ
Comment[pt]=Documento do Photoshop
Comment[pt_BR]=Documento do Photoshop
Comment[ru]=Файл Photoshop
Comment[sr]=Photoshop-ов документ
Comment[sr@Latn]=Photoshop-ov dokument
Comment[sv]=Photoshop-dokument
Comment[ta]=ஆவணப் போட்டோஷாப்
Comment[tg]=Ҳуҷҷати Фотошоп
Comment[tr]=Photoshop Belgesi
Comment[uk]=Документ Photoshop
Comment[vi]=Tạo tài liệu Photoshop
Comment[xx]=xxDocument Photoshopxx
Comment[zh_CN]=Photoshop 文档
Encoding=UTF-8
Icon=psd
MimeType=image/psd
Patterns=*.psd;*.PSD;
Type=MimeType
