[Desktop Entry]
Encoding=UTF-8
GenericName=Screen Grabbing Program
GenericName[ar]=برنامج إلتقاط صور الشاشة
GenericName[ca]=Programa de gravació de la pantalla
GenericName[da]=Program for skærmdump
GenericName[de]=Bildschirmphotoprogramm
GenericName[el]=Πρόγραμμα αρπαγής οθόνης
GenericName[es]=Programa de captura de pantalla
GenericName[et]=Ekraani pildistamise programm
GenericName[ga]=Clár Gabhála Scáileáin
GenericName[is]=Skjámyndatökuforrit
GenericName[it]=Programma di cattura dello schermo
GenericName[nl]=Schermopnameprogramma
GenericName[pa]=ਸਕਰੀਨ ਗਰੱਬਿੰਗ ਪਰੋਗਰਾਮ
GenericName[pt]=Programa de Captura do Ecrã
GenericName[sk]=Program na sn9manie obrazovky
GenericName[sv]=Program för skärmdump
GenericName[tr]=Ekran Yakalama Uygulaması	
GenericName[uk]=Програма захоплення екрана
GenericName[vi]=Chương trình bắt màn hình
Name=KGrab
Name[ar]=إلتقاط صور الشاشة
Name[sv]=Kgrab
MimeType=
Exec=kgrab -caption "%c"
Icon=kgrab
Path=
Type=Application
Terminal=false
DocPath=kgrab/index.html
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
