[Desktop Entry]
Encoding=UTF-8
GenericName=Screen Grabbing Program
GenericName[el]=Πρόγραμμα αρπαγής οθόνης
GenericName[ga]=Clár Gabhála Scáileáin
GenericName[it]=Programma di cattura dello schermo
GenericName[nl]=Schermopnameprogramma
GenericName[pt]=Programa de Captura do Ecrã
GenericName[sk]=Program na sn9manie obrazovky
Name=KGrab
MimeType=
Exec=kgrab -caption "%c"
Icon=kgrab
Path=
Type=Application
Terminal=false
DocPath=kgrab/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;
