[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=frame
X-Kst-Plugin-Author=The University of Toronto
Name=Frame Reader
Name[ca]=Lector de frame
Name[da]=Ramme-læser
Name[de]=Frame-Betrachter
Name[es]=Lector de marcos
Name[et]=Raamilugeja
Name[it]=Lettore frame
Name[pt]=Leitor de Tramas
Name[pt_BR]=Leitor de Quadros
Name[sr]=Читач оквира
Name[sv]=Ramläsare
Name[xx]=xxFrame Readerxx
Comment=Plugin to read the frame file format.
Comment[ca]=Connector per a llegir el format de fitxer «frame».
Comment[da]=Plugin til at ælse rammefil-format.
Comment[de]=Plugin zum Lesen des frame-Formats
Comment[es]=Complemento para leer el formato de fichero de marcos
Comment[et]=Plugin raamifailide (frame file) vormingu lugemiseks.
Comment[it]=Plugin per leggere il formato file frame.
Comment[pt]=Um 'plugin' para ler o formato do ficheiro de tramas.
Comment[pt_BR]=Plug-ins para a leitura do formato de arquivo de quadro.
Comment[sr]=Додатак за читање оквирног формата фајлова.
Comment[sv]=Insticksprogram för att läsa ramfilformat.
Comment[xx]=xxPlugin to read the frame file format.xx
