[Desktop Entry]
Encoding=UTF-8
Name=SQLite3
Comment=SQLite is default Kexi embedded SQL engine
Comment[cy]=Y peiriant SQL mewnadeiledig rhagosod Kexi yw SQLite
Comment[da]=SQLite er Kexi standard indlejrede SQL-motor
Comment[el]=Η SQLite είναι η προκαθορισμένη ενσωματωμένη μηχανή SQL του Kexi
Comment[es]=SQLite es el motor de SQL por defecto embebido en Kexi
Comment[et]=SQLite on Kexi vaikimisi kasutatav SQL mootor
Comment[it]=SQLite è il motore SQL predefinito incorporato in Kexi
Comment[nl]=SQLite is de standaard SQL-database voor Kexi
Comment[pt]=SQLite é o motor embebido de SQL do Kexi
Comment[pt_BR]=SQLite é o motor embebido de SQL do Kexi
Comment[ru]=SQLite - легковесная СУБД, интегрированная в Kexi и используемая по умолчанию.
Comment[sr]=SQLite је подразумевани SQL мотор за Kexi
Comment[sr@Latn]=SQLite je podrazumevani SQL motor za Kexi
Comment[sv]=SQLite är förvalt inbäddat SQL-gränssnitt i Kexi
Comment[ta]=SQLite என்பது ஒரு முன்னிருப்பு Kexi உட்பொதிக்கப்பட்ட SQL என்ஜின்
Comment[tr]=SQLite, Kexi için öntanımlı gömülü SQL motorudur
X-KDE-Library=kexidb_sqlite3driver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite3
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite3,application/x-kexiproject-sqlite3,application/x-hk_classes-sqlite3
X-Kexi-KexiDBVersion=1.5
