[Desktop Entry]
Encoding=UTF-8
Name=PostgreSQL
Comment=With a 16 year development history, one of the strongest development communities in the world, and a global reputation for high quality software engineering, PostgreSQL is the world's most advanced Open Source Database for large corporations and individual users.
Comment[cy]=Efo hanes datblygiad o 16 blynedd, un o'r cymunedau datblygu cryfaf yn y byd, ac enw byd-eang ar gyfer peiriannu meddalweddo ansawdd da, PostgreSQL yw'r Gonfa Ddata Côd Agored mwyaf flaengar yn y byd ar gyfer corfforaethau a defnyddwyr unigol.
Comment[da]=Med en 16-års udviklingshistorie, et af de stærkeste udviklingsfællesskaber i verden, og et globalt ry for software-udvikling af høj kvalitet, PostgreSQL er verdens mest avancerede Open Source Database for store firmaer og individuelle brugere.
Comment[el]=Με ένα ιστορικό 16 χρόνων ανάπτυξης, μια από τις δυνατότερες κοινότητες ανάπτυξης στον κόσμο, και μια καθολική φήμη για υψηλής ποιότητας λογισμικό, η PostgreSQL είναι η πιο προχωρημένη βάση δεδομένων Ανοιχτού κώδικα στον κόσμο, για μεγάλες εταιρίες και μεμονωμένους χρήστες.
Comment[es]=Con un desarrollo a lo largo de 16 años, una de las comunidades de desarrolladores más fuerte del mundo, y una reputación global por software de alta calidad, PostgreSQL es la base de datos de software libre más avanzada para grandes empresas y usuarios individuales.
Comment[et]=16-aastase arenduslooga, maailma ühe tugevaima arendajate meeskonnaga ja üldtunnustatult tippkvaliteediga tarkvara pakkuv PostgreSQL on maailma kõige täiuslikum vaba tarkvara andmebaas nii hiigelkorporatsioonidele kui tavakasutajatele.
Comment[it]=Con 16 anni di storia di sviluppo, una delle più forti comunità di sviluppo del mondo, e una reputazione globale di progettazione di software di alta qualità, PostgreSQL è la banca dati open source più avanzata del mondo per le grandi aziende e per i singoli utenti.
Comment[nl]=Met een 16-jarige ontwikkelingsgeschiedenis, één van de sterkste ontwikkelaarsgemeenschappen in de wereld en een wereldwijde reputatie voor hoge kwaliteit softwareontwikkeling is PostgreSQL 'swerelds meest geavanceerde Open Source Database voor grote bedrijven en individuele gebruikers.
Comment[pt]=Com 16 anos de desenvolvimento, uma das comunidades mais fortes do mundo e uma reputação global pela qualidade do produto, o PostgreSQL é a base de dados Open Source mais avançada do mundo para grandes e empresas e utilizadores individuais.
Comment[pt_BR]=Com 16 anos de desenvolvimento, uma das comunidades mais fortes do mundo e uma reputação global pela qualidade do produto, o PostgreSQL é a base de dados Open Source mais avançada do mundo para grandes e empresas e utilizadores individuais.
Comment[ru]=Одно из сильнейших сообществ разработчиков с 16-ю годами за плечами, стоит за PostgreSQL, самой широкофункциональной СУБД с открытым исходным кодом.
Comment[sr]=Са 16 година развојне историје, једном од најјачих развојних заједница у свету, и глобалним угледом висококвалитетног софтверског инжењерства, PostgreSQL је најнапреднија светска база података отвореног кода, за велике корпорације и појединачне кориснике.
Comment[sr@Latn]=Sa 16 godina razvojne istorije, jednom od najjačih razvojnih zajednica u svetu, i globalnim ugledom visokokvalitetnog softverskog inženjerstva, PostgreSQL je najnaprednija svetska baza podataka otvorenog koda, za velike korporacije i pojedinačne korisnike.
Comment[sv]=Med 16 års utvecklingshistorik, en av de starkaste utvecklingsgemenskaperna i världen och ett globalt anseende för utveckling av programvara med hög kvalitet, är PostgreSQL världens mest avancerade databas med öppen källkod för stora företag och enskilda användare.
X-KDE-Library=kexidb_pqxxsqldriver
ServiceTypes=Kexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=PostgreSQL
X-Kexi-DriverType=Network
X-Kexi-KexiDBVersion=1.5
