[Desktop Entry]
Encoding=UTF-8
Name=Fraqtive
Name[pa]=ਫਰੀਕਿਉਟੀਵੀ
Name[xx]=xxFraqtivexx
Exec=fraqtive
Icon=fraqtive
Type=Application
Comment=Program for drawing Mandelbrot and Julia fractals
Comment[ar]=برنامج لرسم كُسوريات Mandelbrot و Julia
Comment[bg]=Рисуване на фрактали по множества на Манделброт Джулия
Comment[ca]=Programa per dibuixar fractals de Mandelbrot i de Julia
Comment[cs]=Program pro kreslení Mandelbrotových a Juliových fraktálů
Comment[da]=Program til at tegne Mandelbrot- og Julia-fraktaler
Comment[de]=Programm für das Zeichnen von Mandelbrot- und Julia-Fraktalen.
Comment[el]=Πρόγραμμα για τη σχεδίαση φράκταλ Mandelbrot και Julia
Comment[es]=Un programa para diseñar fractales Mandelbrot y Julia.
Comment[et]=Mandelbroti ja Julia fraktaalide joonistamise rakendus
Comment[fi]=Ohjelma Manderbrot- ja Julia-fraktaalien luomiseen
Comment[ga]=Clár a dhearann frachtail Mandelbrot agus Julia
Comment[gl]=Un programa para debuxar fractais de Mandelbrot e Julia
Comment[hr]=Program za crtanje Mandelbrot i Julia fraktala
Comment[is]=Forrit til að teikna Mandelbrot og Julia fraktala
Comment[it]=Programma per disegnare frattali di Mandelbrot e di Julia
Comment[ja]=Mandelbrot と Julia フラクタルを描くためのプログラム
Comment[ka]=მანდელბროტისა და ჯულიას ფრაქტალების სახატავი პროგრამა
Comment[ms]=Program untuk melukis fraktal Mandelbrot dan Julia
Comment[nds]=Programm, mit dat sik Mandelbrot- un Julia-Fraktalen teken laat
Comment[nl]=Programma voor het tekenen van Mandelbrot- en Julia-fractalen
Comment[pa]=ਮੈਂਡੀਲਬਰੋਟ ਅਤੇ ਜੁਲੀਆ ਫਰੀਕਿਉਟੀਵੀ ਡਰਾਇੰਗ ਲਈ ਪਰੋਗਰਾਮ
Comment[pt]=Um programa para desenhar fractais Mandelbrot e Júlia.
Comment[pt_BR]=Programa para o desenho de fractais Mandelbrot e Julia
Comment[ru]=Программа рисования фракталов Мандельброта и Джулиа
Comment[sk]=Program pre kreslenie Mandelbrot a Julia fraktálov
Comment[sr]=Програм за исцртавање Манделброт и Јулиа фрактала
Comment[sr@Latn]=Program za iscrtavanje Mandelbrot i Julia fraktala
Comment[sv]=Program för att rita Mandelbrot- och Julia-fraktaler
Comment[uk]=Програма для малювання фракталів Мендельброта і Джуліа
Comment[vi]=Chương trình vẽ các phân dạng kiểu Mandelbröt và Julia
Comment[xx]=xxProgram for drawing Mandelbrot and Julia fractalsxx
