[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Extension
X-KDE-ModuleType=Plugin
X-KDE-Library=kstextension_js
X-Kst-Plugin-Author=The University of Toronto
Name=JavaScript Extension
Name[da]=JavaScript udvidelse
Name[es]=Extensión JavaScript
Name[et]=JavaScripti laiend
Name[it]=Estensione JavaScript
Name[pt]=Extensão JavaScript
Name[pt_BR]=Extensão JavaScript
Name[sv]=Javaskript-utökning
Comment=Allows the user to script Kst internally with JavaScript.
Comment[da]=Tillder brugeren at scripte Kst internt med JavaScript.
Comment[es]=Permite al usuario programar internamente Kst con JavaScript.
Comment[et]=Võimaldab tarvitada Kst-s JavaScripti-põhiseid skripte.
Comment[it]=Permette all'utente di eseguire internamente Kst con JavaScript.
Comment[pt]=Permite ao utilizador programar internamente o Kst com JavaScript.
Comment[pt_BR]=Permite ao usuário usar script Kst internamente como o JavaScript.
Comment[sv]=Låter användaren skapa skript internt i Kst med Javaskript.
