[Desktop Entry]
Encoding=UTF-8
Name=SQLite3
Name[xx]=xxSQLite3xx
Comment=SQLite is default Kexi embedded SQL engine
Comment[bg]=SQLite е SQL-сървърът по подразбиране за Kexi
Comment[ca]=SQLite és el motor SQL encastat i per defecte del Kexi
Comment[cs]=SQLite je výchozí vestavěný SQL engine Kexi
Comment[cy]=Y peiriant SQL mewnadeiledig rhagosod Kexi yw SQLite
Comment[da]=SQLite er Kexi's standard indlejrede SQL-motor
Comment[de]=SQLite ist das in Kexi integrierte und voreingestellte Datenbanksystem
Comment[el]=Η SQLite είναι η προκαθορισμένη ενσωματωμένη μηχανή SQL του Kexi
Comment[es]=SQLite es el motor de SQL por omisión embebido en Kexi
Comment[et]=SQLite on Kexi vaikimisi kasutatav SQL mootor
Comment[fr]=SQLite est le moteur SQL par défaut intégré à Kexi
Comment[gl]=SQLite é o motor embebido de SQL de Kexi
Comment[hr]=SQLite je zadani Kexi ugrađeni SQL pogonski program
Comment[is]=SQLite er sjálfgefin ígrædd SQL-vél í Kexi
Comment[it]=SQLite è il motore SQL predefinito incorporato in Kexi
Comment[ja]=SQLite は Kexi の標準埋め込み SQL エンジンです。
Comment[ka]=SQLite არის Kexi-ში ჩანერგილი ნაგულისხმევი SQL ძრავი
Comment[ms]=SQLite adalah enjin SQL terbinadalam default Kexi
Comment[nb]=SQLite er Kexis standard innebygde SQL-motor
Comment[nds]=SQLite is Kexi sien inbett Standarddriever för SQL
Comment[nl]=SQLite is de standaard SQL-database voor Kexi
Comment[pt]=O SQLite é o motor de SQL incorporado por omissão do Kexi
Comment[pt_BR]=O SQLite é o mecanismo SQL padrão do Kexi, integrado a ele
Comment[ru]=SQLite - легковесная СУБД, интегрированная в Kexi и используемая по умолчанию.
Comment[sr]=SQLite је подразумевани SQL мотор за Kexi
Comment[sr@Latn]=SQLite je podrazumevani SQL motor za Kexi
Comment[sv]=SQLite är förvalt inbäddat SQL-gränssnitt i Kexi
Comment[ta]=SQLite என்பது ஒரு முன்னிருப்பு Kexi உட்பொதிக்கப்பட்ட SQL என்ஜின்
Comment[tg]=SQLite - муҳаррики SQL-и пешфарзии Kexi дарунсохт
Comment[tr]=SQLite, Kexi için öntanımlı gömülü SQL motorudur
Comment[uk]=SQLite - це вбудований рушій SQL, типовий для Kexi
Comment[vi]=SQLite3 là cơ chế SQL nhúng Kexi mặc định
Comment[xx]=xxSQLite is default Kexi embedded SQL enginexx
X-KDE-Library=showimg_kexidb_sqlite3driver
# X-KDE-Library=kexidb_sqlite3driver
ServiceTypes=ShowImgKexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite3
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite3,application/x-kexiproject-sqlite3,application/x-hk_classes-sqlite3
X-Kexi-KexiDBVersion=1.7
