[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=dirfile
X-Kst-Plugin-Author=The University of Toronto
Name=DirFile Reader
Name[ca]=Lector de DirFile
Name[da]=DirFile-læser
Name[de]=DirFile-Betrachter
Name[es]=Lector de DirFile
Name[et]=Kataloogifaili lugeja
Name[it]=Lettore DirFile
Name[pt]=Leitor de DirFile
Name[pt_BR]=Leitor de DirFile
Name[sr]=DirFile читач
Name[sv]=Dirfile-läsare
Name[xx]=xxDirFile Readerxx
Comment=Plugin to read the dirfile format.
Comment[ca]=Connector per a llegir el format dirfile.
Comment[da]=Plugin til at læse dirfile-formatet.
Comment[de]=Plugin zum Lesen des dirfile-Formats
Comment[es]=Complemento para leer el formato dirfile.
Comment[et]=Plugin kataloogifailide (dirfile) vormingu lugemiseks.
Comment[it]=Plugin per leggere il formato dirfile.
Comment[pt]=Um 'plugin' para ler o formato 'dirfile'.
Comment[pt_BR]=Plug-in para a leitura do formato dirfile.
Comment[sr]=Додатак за читање dirfile формата.
Comment[sv]=Insticksprogram för att läsa dirfile-format.
Comment[xx]=xxPlugin to read the dirfile format.xx
