[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kst_linefit
X-Kst-Plugin-Library=kst_linefit
X-Kst-Plugin-Author=George Staikos
Name=Line Fit
Comment=Generates a line of best fit for a set of data.
