[Desktop Entry]
Encoding=UTF-8
GenericName=JavaScript Console
GenericName[br]=Letrin JavaScript
GenericName[cs]=Javascriptová konzole
GenericName[cy]=Terfynell JavaScript
GenericName[da]=JavaScript konsol
GenericName[es]=Consola JavaScript
GenericName[et]=JavaScripti konsool
GenericName[fr]=Console JavaScript
GenericName[ga]=Bord eallóige JavaScript
GenericName[hi]=जावा-स्क्रिप्ट कंसोल
GenericName[it]=Console JavaScript
GenericName[nl]=JavaScript-console
GenericName[pt]=Consola de JavaScript
GenericName[pt_BR]=Consola de JavaScript
GenericName[ru]=Консоль JavaScript
GenericName[sr]=JavaScript конзола
GenericName[sr@Latn]=JavaScript konzola
GenericName[sv]=Javaskript-konsoll
GenericName[tr]=JavaScript Konsolu
Name=kjscmd
Name[hi]=केजेएस-सीएमडी
Name[sv]=KJS-kommando
Type=Application
Exec=kjscmd --exec
Icon=konsole
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10

