[Desktop Entry]
Encoding=UTF-8
Name=PostgreSQL
Name[xx]=xxPostgreSQLxx
Comment=With a 16 year development history, one of the strongest development communities in the world, and a global reputation for high quality software engineering, PostgreSQL is the world's most advanced Open Source Database for large corporations and individual users.
Comment[bg]=С 16-годишна история на разработката си, това е един от проектите с най-голяма общност на разработчиците в света и е известен с високото качество на кода си. PostgreSQL е най-развитата в света система за управление на бази от данни с отворен код и се използва както в големи фирми, така и от отделни потребители.
Comment[ca]=Amb una historia de 16 anys de desenvolupament, una de les comunitats de desenvolupament més fortes del món, i una reputació global d'enginyeria de programari d'alta qualitat, PostgreSQL és la base de dades de codi lliure més avançada del món per grans corporacions i usuaris individuals.
Comment[cs]=S šestnáctiletou historií vývoje, s jednou z nejsilnějších vývojářských komunit na světě a se světově proslulou kvalitou softwarového návrhu je PostgreSQL nejpokročilejší opensource databází pro velké společnosti i individuální uživatele.
Comment[cy]=Efo hanes datblygiad o 16 blynedd, un o'r cymunedau datblygu cryfaf yn y byd, ac enw byd-eang ar gyfer peiriannu meddalweddo ansawdd da, PostgreSQL yw'r Gonfa Ddata Côd Agored mwyaf flaengar yn y byd ar gyfer corfforaethau a defnyddwyr unigol.
Comment[da]=Med en 16-års udviklingshistorie, et af de stærkeste udviklingsfællesskaber i verden, og et globalt ry for software-udvikling af høj kvalitet, PostgreSQL er verdens mest avancerede Open Source Database for store firmaer og individuelle brugere.
Comment[de]=Seit 16 Jahren beständig weiterentwickelt, unterstützt von einer der stärksten Entwicklergemeinschaften weltweit und mit einem exzellenten Ruf für qualitativ hochwertige Software-Entwicklung, gilt PostgreSQL als die weltweit fortschrittlichste Open-Source-Datenbank; für große Unternehmen ebenso wie für Privatanwender.
Comment[el]=Με ένα ιστορικό 16 χρόνων ανάπτυξης, μια από τις δυνατότερες κοινότητες ανάπτυξης στον κόσμο, και μια καθολική φήμη για υψηλής ποιότητας λογισμικό, η PostgreSQL είναι η πιο προχωρημένη βάση δεδομένων Ανοικτού κώδικα στον κόσμο, για μεγάλες εταιρίες και μεμονωμένους χρήστες.
Comment[es]=Con un desarrollo a lo largo de 16 años, una de las comunidades de desarrolladores más fuerte del mundo, y una reputación global por software de alta calidad, PostgreSQL es la base de datos de software libre más avanzada para grandes empresas y usuarios individuales.
Comment[et]=16-aastase arenduslooga, maailma ühe tugevaima arendajate meeskonnaga ja üldtunnustatult tippkvaliteediga tarkvara pakkuv PostgreSQL on maailma kõige täiuslikum vaba tarkvara andmebaas nii hiigelkorporatsioonidele kui tavakasutajatele.
Comment[fr]=Avec un historique de développement de 16 ans, une des communautés de développement les plus fortes du monde et une réputation globale de création de logiciels de haute qualité, PostgreSQL est la base de données Open Source la plus avancée pour les grandes entreprises et les utilisateurs individuels.
Comment[gl]=Con 16 anos de desenvolvimento, unha das comunidades mais fortes do mundo e unha reputazón mundial pola calidade do produto, PostgreSQL é a base de dados Open Source mais avanzada do mundo para grandes empresas e usuários individuais.
Comment[hr]=Uz 16 godina razvoja, jednu od najjačih razvojnih zajednica na svijetu i općom reputacijom za softversko inženjerstvo visoke kvalitete, PostgreSQL je najnaprednija baza podataka otvorenog koda za potrebe velikih korporacija i pojedinačnih korisnika.
Comment[is]=Með 16 ára þróunarsögu, með einu sterkasta þróunarsamfélagi í heimi, og verandi í miklu áliti fyrir hágæðahugbúnaðargerð,þá er PostgreSQL einn framþróaðasti Open Source gagnagrunnur fyrir stórfyrirtæki og einstaklinga.
Comment[it]=Con 16 anni di storia di sviluppo, una delle più forti comunità di sviluppo del mondo, e una reputazione globale di progettazione di software di alta qualità, PostgreSQL è la banca dati open source più avanzata del mondo per le grandi aziende e per i singoli utenti.
Comment[ja]=16年間に及ぶ開発の歴史、世界有数の強力な開発コミュニティ、そして高品質なソフトウェアエンジニアリングという世界的な評判に支えられ、PostgreSQL は今日世界で最も進化した大企業ならびに個人ユーザ向けのオープンソースデータベースです。
Comment[ka]=განვითარების 16 წლიანი ისტორიით, პროგრამისტთა ერთ-ერთი ყველაზე ძლიერი საზოგადოებით მსოფლიოში და მაღალი ხარისხის პროგრამების შექმნის მსოფლიო რეპუტაციით, PostgreSQL არის მსოფლიოს ყველაზე განვითარებული ღია კოდის მონაცემთა ბაზა დიდი კორპორაციებისა და ინდივიდუალური მომხმარებლებისათვის.
Comment[nb]=Med sin 16 år lange historie, et av de sterkeste utviklingssamfunnene i verden og et globalt rykte for programkonstruering av ypperste kvalitet, er PostgreSQL verdens mst kjente åpen kildekode-database for store bedrifter og individuelle brukere.
Comment[nds]=Mit 16 Johren vun Utwickelarbeit, een vun de deegsten Utwickelmaatschappen in de Welt un en Naam, de globaal för Software vun hoge Gööd steiht, is PostgreSQL de op't Wietst vörankamen Apenborn-Datenbank, för grote Bedrieven liek so as för persöönlich Bruuk.
Comment[nl]=Met een 16-jarige ontwikkelingsgeschiedenis, één van de sterkste ontwikkelaarsgemeenschappen in de wereld en een wereldwijde reputatie voor hoge kwaliteit softwareontwikkeling is PostgreSQL 'swerelds meest geavanceerde Open Source Database voor grote bedrijven en individuele gebruikers.
Comment[pt]=Com 16 anos de desenvolvimento, uma das comunidades mais fortes do mundo e uma reputação global pela qualidade do produto, o PostgreSQL é a base de dados Open Source mais avançada do mundo para grandes e empresas e utilizadores individuais.
Comment[pt_BR]=Com 16 anos de histório, uma das comunidades mais fortes de desenvolvimento do mundo, e uma reputação global devido a seu software de alta qualidade, o PostgreSQL é o Banco de Dados de código aberto mais avançado no mundo, tanto para grandes corporações como para usuários individuais.
Comment[ru]=Одно из сильнейших сообществ разработчиков с 16-ю годами за плечами, стоит за PostgreSQL, самой широкофункциональной СУБД с открытым исходным кодом.
Comment[sr]=Са 16 година развојне историје, једном од најјачих развојних заједница у свету, и глобалним угледом висококвалитетног софтверског инжењерства, PostgreSQL је најнапреднија светска база података отвореног кода, за велике корпорације и појединачне кориснике.
Comment[sr@Latn]=Sa 16 godina razvojne istorije, jednom od najjačih razvojnih zajednica u svetu, i globalnim ugledom visokokvalitetnog softverskog inženjerstva, PostgreSQL je najnaprednija svetska baza podataka otvorenog koda, za velike korporacije i pojedinačne korisnike.
Comment[sv]=Med 16 års utvecklingshistorik, en av de starkaste utvecklingsgemenskaperna i världen och ett globalt anseende för utveckling av programvara med hög kvalitet, är PostgreSQL världens mest avancerade databas med öppen källkod för stora företag och enskilda användare.
Comment[tr]=PostgreSQL, bireysel kullanıcılar ve büyük şirketler için dünyanın en gelişmiş Açık Kaynak Veritabanıdır. 16 yıllık bir geliştirme geçmişi ile dünyadaki en önemli topluluklardan biridir. Ayrıca yüksek kaliteli yazılım mühendisliği ile küresel bir ün kazanmıştır.
Comment[uk]=З 16-річною історією розробки, з однією з найсильніших спільнот розробки у цілому світі та загальновідомою репутацією високоякісного програмного забезпечення, PostgreSQL -- це найбільш розвинута база даних з відкритим кодом для великих корпорацій та індивідуальних користувачів.
Comment[vi]=Sau 16 năm phát triển, với một của những công đồng phát triển mạnh nhắt  và danh tiếng trong thế giới về khả năng cấu trúc phần mềm chất lượng cao, PostgreSQL là cơ sở dữ liệu nguồn mở cấp cao nhất cho cả công ty lớn lẫn người dùng riêng.
Comment[xx]=xxWith a 16 year development history, one of the strongest development communities in the world, and a global reputation for high quality software engineering, PostgreSQL is the world's most advanced Open Source Database for large corporations and individual users.xx
X-KDE-Library=showimg_kexidb_pqxxsqldriver
ServiceTypes=ShowImgKexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=PostgreSQL
X-Kexi-DriverType=Network
X-Kexi-KexiDBVersion=1.7
