[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_binnedmap
X-Kst-Plugin-Author=Barth Netterfield
Name=Binned Map
