[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_phase
X-Kst-Plugin-Author=Andrew Walker
Name=Phase
Name[bg]=Фаза
Name[br]=Prantadoù
Name[ca]=Fase
Name[da]=Fase
Name[el]=Φάση
Name[es]=Fase
Name[et]=Faas
Name[it]=Fase
Name[ms]=Fasa
Name[nds]=Faas
Name[nl]=Fase
Name[pa]=ਫੇਜ਼
Name[pt]=Fase
Name[sv]=Fas
Name[vi]=Giải đoạn
Name[xx]=xxPhasexx
Comment=Phases a given data set to the specified period and zero phase.
Comment[ca]=Torna la fase d'un conjunt de dades donat entre el període indicat i la fase zero.
Comment[da]=Ændrer fase for en given datamængde til angiven periode og nulfase.
Comment[de]=Stimmt einen gegebenen Datensatz auf die angegebene Periode und Phase Null ab.
Comment[el]=Φάση ενός δοσμένου συνόλου δεδομένων σε καθορισμένη περίοδο και τη μηδενική φάση.
Comment[en_GB]=Phrases a given data set to the specified period and zero phase.
Comment[es]=Pone la fase de una serie de datos con el valor especificado del periodo y fase cero.
Comment[et]=Faasib antud andmekogumi määratud perioodi ja nullfaasi järgi.
Comment[it]=Sfasa un insieme di dati al periodo e alla fase zero specificati.
Comment[nds]=Deelt en Datensett na de angeven Periood un de Null-Faas op.
Comment[nl]=Neemt uit een gegeven verzameling die gegevens die liggen binnen de opgegeven periode , vanaf de opgegeven nulfase.
Comment[pt]=Faz um desvio de fase nos dados definidos no período indicado e com fase nula.
Comment[pt_BR]=Divide em fases um conjunto de dados fornecido para um período especificado e fase zero.
Comment[sv]=Ändrar fas för en given datamängd till angiven period och nollfas.
Comment[vi]=Chuyển một tập dữ liệu đã sang thời kỳ và giải đoạn số không riêng.
Comment[xx]=xxPhases a given data set to the specified period and zero phase.xx
