[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_cspline
X-Kst-Plugin-Author=Andrew Walker
Name=Interpolation cubic spline
Comment=Generates a spline interpolation for a set of data.
