[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_phase
X-Kst-Plugin-Author=Andrew Walker
Name=Phase
Name[ca]=Fase
Name[da]=Fase
Name[el]=Φάση
Name[es]=Fase
Name[et]=Faas
Name[it]=Fase
Name[pt]=Fase
Name[pt_BR]=Fase
Name[sv]=Fas
Comment=Phases a given data set to the specified period and zero phase.
Comment[ca]=Torna la fase d'un conjunt de dades donat entre el període indicat i la fase zero.
Comment[da]=Ændrer fase for en given datamængde til angiven periode og nulfase.
Comment[es]=Pone la fase de una serie de datos con el valor especificado del periodo y fase cero.
Comment[et]=Faasib antud andmekogumi määratud perioodi ja nullfaasi järgi.
Comment[it]=Sfasa un insieme di dati al periodo e alla fase zero specificati.
Comment[pt]=Faz um desvio de fase nos dados definidos no período indicado e com fase nula.
Comment[pt_BR]=Faz um desvio de fase nos dados definidos no período indicado e com fase nula.
Comment[sv]=Ändrar fas för en given datamängd till angiven period och nollfas.
