[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=ASCII File Reader
Name[ca]=Lector de fitxers ASCII
Name[da]=ASCII Fillæser
Name[de]=ASCII-Datei-Leser
Name[es]=Lector de ficheros ASCII
Name[et]=ASCII failide lugeja
Name[it]=Lettore file ASCII
Name[pt]=Leitor de Ficheiros ASCII
Name[pt_BR]=Leitor de Arquivos ASCII
Name[sr]=Читач ASCII фајлова
Name[sv]=ASCII-filläsare
Name[xx]=xxASCII File Readerxx
Comment=Implements support for reading ASCII files into Kst.
Comment[ca]=Implementa en Kst el suport per a llegir fitxers ASCII.
Comment[da]=Implementer støtte for at læse ASCII-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von ASCII-Dateien in Kst
Comment[es]=Implementa soporte para leer ficheros ASCII en Kst.
Comment[et]=Kst ASCII failide lugemise toetus.
Comment[it]=Implementa supporto per leggere file ASCII in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros ASCII no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos ASCII dentro do Kst.
Comment[sr]=Имплементира подршку за читање ASCII фајлова у Kst-у.
Comment[sv]=Implementerar stöd för att läsa in ASCII-filer i Kst.
Comment[xx]=xxImplements support for reading ASCII files into Kst.xx
