[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Plugin
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=kstinterp_cspline
X-Kst-Plugin-Author=The University of British Columbia
Name=Cubic spline interpolation
Name[da]=Kubisk spline-interpolation
Name[et]=Kuupsplain-interpoleerimine
Name[pt]=Interpolação por curva cúbica
Name[pt_BR]=Interpolação por curva cúbica
Name[sv]=Kubisk splineinterpolering
Comment=Implements support for a cubic spline interpolation.
Comment[da]=Implementer støtte for en kubisk spline-interpolation.
Comment[et]=Kuupsplain-interpoleerimise toetus.
Comment[pt]=Implementa o suporte para uma interpolação por curva cúbica.
Comment[pt_BR]=Implementa o suporte para uma interpolação por curva cúbica.
Comment[sv]=Implementerar stöd för en kubisk splineinterpolering.
