[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Plugin
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=kstinterp_polynomial
X-Kst-Plugin-Author=The University of British Columbia
Name=Linear interpolation
Name[da]=Lineær interpolation
Name[et]=Lienaarne interpoleerimine
Name[pt]=Interpolação linear
Name[pt_BR]=Interpolação linear
Name[sv]=Linjär interpolering
Comment=Implements support for a polynomial interpolation.
Comment[da]=Implementer støtte for polynomiel interpolation.
Comment[et]=Polünomiaal-interpoleerimise toetus.
Comment[pt]=Implementa o suporte para uma interpolação polinomial.
Comment[pt_BR]=Implementa o suporte para uma interpolação polinomial.
Comment[sv]=Implementerar stöd för en polynominterpolering.
