[Desktop Entry]
Encoding=UTF-8
Name=mySQL
Name[de]=MySQL
Name[fr]=MySQL
Name[nb]=MySQL
Name[sv]=MySQL
Name[tg]=SQLиМан
Name[xx]=xxmySQLxx
Comment=mySQL is a fast database engine. It is used for personal purposes as well as for huge databases in big companies and organizations. We recommend using mySQL for projects shared in networks.
Comment[bg]=mySQL е бърз сървър за бази от данни. Използва се както за лични цели, така и за големи бази от данни във фирми и организации. За проекти, споделени в мрежи препоръчваме използването на mySQL.
Comment[ca]=El mySQL és un motor ràpid de base de dades. S'utilitza en entorns personals i també a bases de dades enormes a grans companyies i organitzacions. Us recomanem que useu el mySQL per projectes compartits en xarxes.
Comment[cs]=mySQL je rychlý databázový engine. Používá se pro osobní potřeby, ale i pro obrovské databáze ve velkých firmách a organizacích. Databázi mySQL doporučujeme pro projekty sdílené v síti.
Comment[cy]=Peiriant cronfa ddata cyflym yw mySQL.  Defnyddir ar gyfer pwrpasau personol yr un pryd ac ar gyfer cronfeydd data enfawr mewn cwmniau a mudiadau mawr.  Argymhellir defnyddio mySQL ar gyfer cyweithiau a rannir dros rwydweithiau.
Comment[da]=mySQL er en hurtig databasemotor. Den bruges til personalige formål så vel som til kæmpestore databaser i store firmaer og organisationer. Vi anbefaler at bruge mySQL til projekter delt i netværk.
Comment[de]=MySQL ist ein schnelles Datenbanksystem. Es wird ebenso für kleine Hobby-Anwendungen wie für riesige Datenbanken in großen Unternehmen und Organisationen verwendet. Wir empfehlen MySQL für vernetzte Anwendungen.
Comment[el]=Η mySQL είναι μια γρήγορη μηχανή βάσης δεδομένων. Χρησιμοποιείται για προσωπικούς σκοπούς αλλά και για τεράστιες βάσεις δεδομένων σε μεγάλες εταιρίες και οργανισμούς. Προτείνουμε τη χρήση της mySQL για εργασίες κοινόχρηστες στα δίκτυα.
Comment[en_GB]=mySQL is a fast database engine. It is used for personal purposes as well as for huge databases in big companies and organisations. We recommend using mySQL for projects shared in networks.
Comment[es]=mySQL es un motor de base de datos muy rápido. Se usa tanto para proyecto personales como para enormes bases de datos en organizaciones importantes. Le recomendamos  usar mySQL para proyectos compartidos en redes.
Comment[et]=mySQL on kiire andmebaasi mootor. Seda kasutatakse nii isiklikuks otstarbeks kui ka tohututeks baasideks suurtes organisatsioonides ja firmades. mySQL'i on soovitav kasutada baasideks, mida jagatakse võrku.
Comment[fr]=mySQL est un moteur de base de données rapide. Il est utilisé à but personnel aussi bien que pour d'importantes base de données d'entreprises ou d'organisations. Nous recommandons l'utilisation de mySQL pour des projets partagés à travers le réseau.
Comment[gl]=mySQL é un motor de base de dados rápido. É utilizado para fins persoais e tamén para enormes bases de dados en grandes compañias e empresas. Recomendamos que utilice mySQL para proxectos compartidos en rede.
Comment[hr]=mySQL je brzo okruženje za baze podataka. Upotrebljava se za osobne potrebe kao i za ogromne baze podataka u velikim tvrtkama i organizacijama. Upotreba mySQL-a preporučuje se za projekte koji se razmjenjuju putem mreže.
Comment[is]=mySQL er hraðvirk gagnagrunnsvél. Hún er notuð jafnt til heimilisnota sem umfangsmiklum gagnasöfnum stórfyrirtækja og samtaka. Við mælum með notkun mySQL fyrir gagnavinnslu deildri um net.
Comment[it]=mySQL è un motore veloce per banche dati. È usato per scopi personali e anche per gigantesche banche dati in grandi compagnie e organizzazioni. Raccomandiamo di usare mySQL per i progetti condivisi in rete.
Comment[ja]=mySQL は高速なデータベースエンジンで、個人目的だけではなく大規模な会社や組織の巨大なデータベースにも使われています。ネットワークで共有するプロジェクトには mySQL をお薦めします。
Comment[ka]=mySQL მონაცემთა ბაზის სწრაფი ძრავია. გამოიყენება როგორც პირადი მოხმარებისათვის, ასევე დიდი კომპანიებისა და ორგანიზაციების მონაცემთა უზარმაზარი ბაზებისათვის. ჩვენ გირჩევთ mySQL-ის გამოყენებას ქსელში გაზიარებული პროექტებისათვის.
Comment[ms]=mySQL adalah enjin pengkalan data yang pantas. Ia digunakan untuk tujuan persendirian dan juga untuk pengkalan data besar dalam syarikat dan organisasi besar. Kami mengesyorkan penggunaan mySQL untuk projek terkongsi dalam rangkaian.
Comment[nb]=MySQL er en rask databasemotor. Den brukes både til personlige formål og store databaser i store bedrifter og organisasjoner. Det er anbefalt å bruke MySQL for prosjekter delt i nettverk.
Comment[nds]=MySQL is en gau Datenbankdriever, de liek goot is för lütte persöönliche Datenbanken as för Datenbanken vun groot Bedrieven un Organisatschonen. För Projekten, de över en Nettwark deelt warrt, is MySQL anraadt.
Comment[nl]=mySQL is een snel databaseprogramma. Het wordt gebruikt voor persoonlijke doeleinden als ook voor enorme databases in grote bedrijven en organisaties. Wij adviseren het gebruik van mySQL voor gedeelde projecten over netwerken.
Comment[pt]=O mySQL é um motor de base de dados rápido. É utilizado para fins pessoais e também para enormes bases de dados em grandes companhias e empresas. Recomendamos que utilize o mySQL para projectos partilhados em rede.
Comment[pt_BR]=O mySQL é um banco de dados rápido, usado para propósitos pessoais, bem como para bancos de dados em grandes companhias e organizações. Recomendamos o uso do  mySQL para projetos compartilhados em uma rede.
Comment[ru]=mySQL - быстрая СУБД, предназначенная как для персонального использования, так и в рамках организаций среднего размера. Хорошая поддержка сети.
Comment[sr]=mySQL је брз мотор базе података. Користи се како за личне потребе, тако и за огромне базе података у великим компанијама и организацијама. Препоручујемо да користите mySQL за пројекте дељене у мрежама.
Comment[sr@Latn]=mySQL je brz motor baze podataka. Koristi se kako za lične potrebe, tako i za ogromne baze podataka u velikim kompanijama i organizacijama. Preporučujemo da koristite mySQL za projekte deljene u mrežama.
Comment[sv]=MySQL är ett snabbt databasgränssnitt. Det används för personligt syfte samt för enorma databaser i stora företag och organisationer. Vi rekommenderar att använda MySQL för projekt som delas i nätverk.
Comment[ta]=mySQL என்பது ஒரு விரைவான தரவுத்தள என்ஜின். இது தனிப்பட்ட தேவைகள் மற்றும் பெரிய நிறுவனங்கள் மற்றும் தொழிலகங்களில் மிகப்பெரிய தரவுத்தளங்களுக்கு பயன்படுத்தப்படுகிறது. பங்கிடப்பட்ட வலைப்பின்னல்களில் திட்டப்பணிகளுக்கு நாங்கள் mySQLஐ பயன்படுத்த பரிந்துரைக்கிறோம்.
Comment[tr]=mySQL hızlı bir veri tabanıdır. Büyük şirketlerde ve organizasyonlarda kullanıldığı gibi kişisel amaçlar için de kullanılmaktadır. Ağda paylaşılacak projeler için mySQL kullanımasını tavsiye ederiz.
Comment[uk]=mySQL -- це швидкий рушій баз даних. Він використовується як в особистих цілях, так і для величезних баз даних на великих підприємствах та в організаціях. Рекомендуємо використовувати mySQL для спільних проектів в мережах.
Comment[vi]=mySQL là một cơ chế cơ sở dữ liệu nhanh. Nó dùng cho mục tiêu cá nhân cũng như với cơ sở dữ liệu rất lớn trong công ty và tổ chức quan trọng. Khuyên bạn sử dụng mySQL với dự án chia sẻ qua mạng.
Comment[xx]=xxmySQL is a fast database engine. It is used for personal purposes as well as for huge databases in big companies and organizations. We recommend using mySQL for projects shared in networks.xx
X-KDE-Library=showimg_kexidb_mysqldriver
# X-KDE-Library=kexidb_mysqldriver
ServiceTypes=ShowImgKexi/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=mySQL
X-Kexi-DriverType=Network
X-Kexi-KexiDBVersion=1.7
