[Desktop Entry]
Type=MimeType
MimeType=application/x-dirfile
Icon=dirfile
DefaultApp=kst
Comment=DirFile database
Comment[da]=DirFile-database
Comment[de]=DirFile-Datenbank
Comment[el]=Βάση δεδομένων DirFile
Comment[et]=Kataloogifaili andmebaas
Comment[ga]=Bunachar sonraí DirFile
Comment[it]=Banca dati DirFile
Comment[ja]=DirFile データベース
Comment[pa]=DirFile ਡਾਟਾਬੇਸ
Comment[pt]=Base de dados do DirFile
Comment[pt_BR]=Base de dados do DirFile
Comment[sv]=Dirfile-databas
