[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=naddirect
X-Kst-Plugin-Author=Staikos Computing Services Inc.
Name=Direct NAD plugin
Name[da]=Direkte NAD-plugin
Name[de]=Direkt NAD Plugin
Name[el]=Πρόσθετο Direct NAD
Name[ga]=Breiseán Díreach NAD
Name[gl]=Plugin para Direct NAD
Name[hr]=Izravni NAD dodatak
Name[it]=Plugin Direct NAD
Name[ka]=Direct NAD მოდული
Name[nl]=Direct NAD-plugin
Name[pt]='Plugin' NAD Directo
Name[pt_BR]='Plugin' NAD Directo
Name[sv]=Direkt NAD-insticksprogram
Comment=Plugin for the NAD distributed data distribution service without local caching
Comment[da]=Plugin for den distribuerede datadistributionstjeneste NAD uden lokal cache
Comment[de]=Plugin für den NAD verteilte Datenverteildienst ohne lokalen Cache
Comment[el]=Πρόσθετο για την υπηρεσία διανομής δεδομένων NAD χωρίς χρήση τοπικής λανθάνουσας μνήμης
Comment[gl]=Plugin para o servizo de distribuizón de dados distribuidos NAD sen caché local
Comment[hr]=Doadtak za NAD uslugu distribucije podataka bez lokalne pohrane
Comment[it]=Plugin per il servizio di distribuzione di dati NAD senza memorizzazione locale
Comment[nl]=Plugin voor het gebruik van de NAD-gegevens zonder die lokaal te bufferen
Comment[pt]='Plugin' para o serviço distribuído de difusão de dados NAD sem 'cache' local
Comment[pt_BR]='Plugin' para o serviço distribuído de difusão de dados NAD sem 'cache' local
Comment[sv]=Insticksprogram för den distribuerade datadistributionstjänsten NAD utan lokal lagring
