[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=File Reader Template
Name[ca]=Plantilla del lector de fitxers
Name[da]=Fillæser-skabelon
Name[de]=Vorlage für Dateibetrachter
Name[es]=Plantilla de lectura de ficheros
Name[et]=Faililugeja mall
Name[it]=Modello di lettore file
Name[pt]=Modelo do Leitor de Ficheiros
Name[pt_BR]=Modelo de Leitor de Arquivos
Name[sr]=Шаблон читача фајлова
Name[sv]=Filläsningsmall
Name[xx]=xxFile Reader Templatexx
Comment=Code template for a file reader plugin.
Comment[ca]=Plantilla de codi per a un connector lector de fiters.
Comment[da]=Kodeskabelon for et fillæser-plugin.
Comment[de]=Code-Vorlage für Dateibetrachter-Plugins
Comment[es]=Plantilla de código para hacer un complemento de lectura de ficheros.
Comment[et]=Koodimall faililugeja pluginale.
Comment[it]=Modello di codice per un plugin per lettore di file.
Comment[pt]=Modelo de código para um 'plugin' de leitura de ficheiros.
Comment[pt_BR]= Modelo de código para um plug-in de leitor de arquivos.
Comment[sr]=Шаблон кода за читача фајлова.
Comment[sv]=Kodmall för ett insticksprogram för filläsning
Comment[xx]=xxCode template for a file reader plugin.xx
