[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_cumulative_sum
X-Kst-Plugin-Author=Nicolas Brisset
Name=Cumulative sum (integral)
Name[bg]=Кумулативна сума (интеграл)
Name[ca]=Suma acumulativa (integral)
Name[da]=Kumulativ sum (integral)
Name[de]=Kumulierte Summe (Integral)
Name[el]=Σωρευτικό άθροισμα (ολοκλήρωμα)
Name[es]=Suma cumulativa (integral)
Name[et]=Kumulatiivne summa (integraal)
Name[it]=Somma cumulativa (integrale)
Name[nds]=Bültsumm (Integraal)
Name[nl]=Cumulatieve som (integraal)
Name[pa]=ਆਵਰਤੀ ਜੋੜ (ਐਂਟੀਗਰਲੇ)
Name[pt]=Somatório acumulado (integral)
Name[sr]=Кумулативна сума (интеграл)
Name[sr@Latn]=Kumulativna suma (integral)
Name[sv]=Kumulativ summa (integral)
Name[vi]=Tổng lũy tích (tích phân)
Name[xx]=xxCumulative sum (integral)xx
Comment=Computes the cumulative sum (integral) of the input vector.
Comment[bg]=Изчисляване сумата (интеграла) на входния вектор.
Comment[ca]=Calcula la suma acumulativa (integral) del vector d'entrada.
Comment[da]=Beregner den kumulative sum (integralet) af inddatavektoren.
Comment[de]=Berechnet die kumulierte Summe (Integral) des Eingabevektors.
Comment[el]=Υπολογίζει το σωρευτικό άθροισμα (ολοκλήρωμα) του διανύσματος εισόδου.
Comment[en_GB]=Computes the cumulative sum (integral) of the input vector
Comment[es]=Calcula la suma cumulativa (integral) de un vector dado.
Comment[et]=Arvutab sisendvektori kumulatiivse summa (integraali).
Comment[it]=Calcola la somma cumulativa (integrale) del vettore di ingresso.
Comment[nds]=Reekt de Bültsumm (dat Integraal) vun den Ingaavvektor ut.
Comment[nl]=Berekent de cumulatieve som (integraal) van de invoervector.
Comment[pt]=Calcula o somatório acumulado (integral) do vector de entrada.
Comment[pt_BR]=Calcula a soma cumulativa (integral) de um vetor de entrada.
Comment[sr]=Рачуна кумулативну суму (интеграл) улазног вектора.
Comment[sr@Latn]=Računa kumulativnu sumu (integral) ulaznog vektora.
Comment[sv]=Beräknar den kumulativa summan (integralen) av indatavektorn.
Comment[vi]=Tính tổng lũy tích (tích phân) cũa véc-tơ nhập.
Comment[xx]=xxComputes the cumulative sum (integral) of the input vector.xx
