[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=qimagesource
X-Kst-Plugin-Author=The University of Toronto
Name=qimagesource
Name[el]=Πηγή qimage
Name[it]=sorgenteqimage
Name[nl]=q-afbeeldingsbron
Name[sr]=qimage извор
Name[sr@Latn]=qimage izvor
Name[sv]=QImage-källa
Name[tg]=манбаъи тасвир
Name[xx]=xxqimagesourcexx
Comment=Plugin to read a qimage compatible image.
Comment[cs]=Modul pro čtení obrázků kompatibilních s qimage.
Comment[da]=Plugin til at læse et qimage-kompatibelt billede.
Comment[de]=Modul zum Lesen von QImage-kompatiblen Bildern
Comment[el]=Πρόσθετο για την ανάγνωση συμβατών με qimage εικόνων.
Comment[es]=Plugin para leer una imagen compatible con qimage.
Comment[it]=Plugin per leggere un'immagine compatibile con qimage.
Comment[nl]=Plugin voor het lezen van een afbeelding die compatibel is met q-afbeelding.
Comment[pt]=Um 'plugin' para ler imagens compatível com qimage.
Comment[pt_BR]=Plug-in para a leitura de uma imagem compatível com qimage.
Comment[sr]=Прикључак за читање qimage компатибилних слика.
Comment[sr@Latn]=Priključak za čitanje qimage kompatibilnih slika.
Comment[sv]=Insticksprogram för att en bild som kan hanteras av QImage.
Comment[tg]=Модул барои хондани тасвири ҳамсозӣ.
Comment[xx]=xxPlugin to read a qimage compatible image.xx
