[Desktop Entry]
Encoding=UTF-8
Name=ODBC
Name[xx]=xxODBCxx
Comment=Kexi Open Database Connectivity Driver
Comment[bg]=Драйвер на Kexi за Open Database Connectivity
Comment[cs]=Kexi ovladač ODBC (Open Database Connectivity)
Comment[cy]=Gyrrydd Cysylltedd Cronfa Ddata Agored Kexi
Comment[da]=Kexi åben database konnektivitetsdriver
Comment[de]="Open Database Connectivity"-Treiber von Kexi
Comment[el]=Οδηγός σύνδεσης Open Database με το Kexi
Comment[es]=Dispositivo ODBC de Kexi
Comment[et]=Kexi ODBC (Open Database Connectivity) draiver
Comment[fr]=Pilote ODBC (connectivité de bases de données ouvertes) de Kexi
Comment[gl]=Controlador ODBC de Kexi
Comment[hr]=Kexi Open DataBase Connectivity upravljač
Comment[it]=Driver di connettività per banche dati aperte Kexi
Comment[ja]=Kexi Open Database Connectivity ドライバ
Comment[ka]=Kexi-ის ღია მონაცემთა ბაზებთან დაკავშირების დრაივერი
Comment[nb]=Kexi-driver for ODBC (Open DataBase Connectivity)
Comment[nl]=Kexi Open Database Connectivity-stuurprogramma
Comment[pt]=Controlador de ODBC do Kexi
Comment[pt_BR]=Driver de Conectividade ao Banco de Dados do Kexi
Comment[ru]=Kexi - Open Database Connectivity Driver
Comment[sr]=Драјвер за Kexi за повезивање са ODB-ом
Comment[sr@Latn]=Drajver za Kexi za povezivanje sa ODB-om
Comment[sv]=Drivrutin i Kexi för öppen databasanslutning
Comment[ta]=Kexi திறக்கும் தரவுத்தள இணைப்பு இயக்கி
Comment[tg]=Додахои Кушодаи Драйвери Пайвандии Kexi
Comment[tr]=Kexi Açık Veritabanı Bağlanma Sürücüsü
Comment[uk]=Драйвер з'єднання Kexi Open Database
Comment[vi]=Trình điều khiển khả năng kết nối cơ sở dữ liệu mở Kexi
Comment[xx]=xxKexi Open Database Connectivity Driverxx
Comment[zh_CN]=Kexi 开放数据库连接驱动程序
X-KDE-Library=showimg_kexidb_odbcdriver
ServiceTypes=ShowImgKexi/DBDriver
Type=Service
InitialPreference=8
MimeType=text/plain
X-Kexi-DriverType=Network
X-Kexi-DriverName=ODBC
