[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Exponential fit
Name[da]=Eksponentiel tilpasning
Name[et]=Eksponentjaotus
Name[pt]=Ajuste exponencial
Name[pt_BR]=Ajuste exponencial
Name[sv]=Exponentiell anpassning
Type=Service
ServiceTypes=Kst Plugin
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=kstfit_exponential
X-Kst-Plugin-Author=The University of British Columbia
Comment=Implements support for an exponential fit.
Comment[da]=Implementerer støtte for eksponentiel tilpasning.
Comment[et]=Eksponentjaotuse toetus.
Comment[pt]=Implementa o suporte para um ajuste exponencial.
Comment[pt_BR]=Implementa o suporte para um ajuste exponencial.
Comment[sv]=Implementerar stöd för en exponentiell anpassning.
