[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_autocorrelate
X-Kst-Plugin-Author=Andrew Walker
Name=Auto-correlation
Name[ca]=Autocorrelació
Name[da]=Automatisk korrelation
Name[de]=Automatische Korrelation
Name[es]=Auto-correlación
Name[et]=Autokorrelatsioon
Name[it]=Autocorrelazione
Name[pt]=Auto-correlação
Name[pt_BR]=Auto-correlação
Name[sv]=Automatisk korrelering
Comment=Generates the auto-correlation of a vector.
Comment[ca]=Genera l'autocorrelació d'un vector.
Comment[da]=Opretr automatisk korrelation af en vektor.
Comment[de]=Erzeugt die automatische Korrelation eines Vektors.
Comment[es]=Genera la auto-correlación de un vector.
Comment[et]=Genereerib vektori autokorrelatsiooni.
Comment[it]=Genera l'autocorrelazione di un vettore.
Comment[pt]=Gera a auto-correlação de um vector.
Comment[pt_BR]=Gera a auto-correlação de um vector.
Comment[sv]=Skapar automatisk korrelering av en vektor.
