[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sinusoid unweighted fit
Name[da]=Sinusoid ubelastet tilpasning
Name[et]=Kaalumata sinusoidjaotus
Name[pt]=Ajuste sinusóidal não ponderado
Name[pt_BR]=Ajuste sinusóidal não ponderado
Name[sv]=Oviktad sinusformad anpassning
Type=Service
ServiceTypes=Kst Plugin
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=kstfit_sinusoid_unweighted
X-Kst-Plugin-Author=The University of British Columbia
Comment=Implements support for a sinusoid unweighted fit.
Comment[da]=Implementerer støtte for sinuoid ubelastet tilpasning.
Comment[et]=Kaalumata sinusoidjaotuse toetus.
Comment[pt]=Implementa o suporte um ajuste sinusóidal não ponderado.
Comment[pt_BR]=Implementa o suporte um ajuste sinusóidal não ponderado.
Comment[sv]=Implementerar stöd för en oviktad sinusformad anpassning.
