[Desktop Entry]
Encoding=UTF-8
Name=Fraqtive
Name[pa]=ਫਰੀਕਿਉਟੀਵੀ
Name[xx]=xxFraqtivexx
Exec=fraqtive
Icon=fraqtive
Type=Application
Comment=Program for drawing Mandelbrot and Julia fractals
Comment[bg]=Рисуване на фрактали по множества на Манделброт Джулия
Comment[cs]=Program pro kreslení Mandelbrot a Julia fraktálů
Comment[da]=Program til at tegne Mandelbrot- og Julia-fraktaler
Comment[de]=Programm für das Zeichnen von Mandelbrot- und Julia-Fraktalen.
Comment[el]=Πρόγραμμα για τη σχεδίαση φράκταλ Mandelbrot και Julia
Comment[et]=Mandelbroti ja Julia fraktaalide joonistamise rakendus
Comment[it]=Programma per disegnare frattali di Mandelbrot e di Julia
Comment[nl]=Programma voor het tekenen van Mandelbrot- en Julia-fractalen
Comment[pa]=ਮੈਂਡੀਲਬਰੋਟ ਅਤੇ ਜੁਲੀਆ ਫਰੀਕਿਉਟੀਵੀ ਡਰਾਇੰਗ ਲਈ ਪਰੋਗਰਾਮ
Comment[pt]=Um programa para desenhar fractais Mandelbrot e Júlia.
Comment[pt_BR]=Programa para o desenho de fractais Mandelbrot e Julia
Comment[ru]=Программа рисования фракталов Мандельброта и Джулиа
Comment[sr]=Програм за исцртавање Манделброт и Јулиа фрактала
Comment[sr@Latn]=Program za iscrtavanje Mandelbrot i Julia fraktala
Comment[sv]=Program för att rita Mandelbrot- och Julia-fraktaler
Comment[xx]=xxProgram for drawing Mandelbrot and Julia fractalsxx
