[Desktop Entry]
Comment=ShowImg Album
Comment[bg]=Албум на ShowImg
Comment[br]=Albom ShowImg
Comment[ca]=Àlbum ShowImg
Comment[cs]=ShowImg album
Comment[da]=ShowImg album
Comment[de]=ShowImg-Album
Comment[el]=Άλμπουμ του ShowImg
Comment[es]=Álbum ShowImg
Comment[et]=ShowImg album
Comment[fi]=ShowImg-albumi
Comment[fr]=Album de ShowImg
Comment[ga]=Albam ShowImg
Comment[gl]=Álbum ShowImg
Comment[hr]=ShowImg album
Comment[is]=ShowImg albúm
Comment[it]=Album di ShowImg
Comment[ja]=ShowImg アルバム
Comment[ka]=ShowImg-ის ალბომი
Comment[nb]=ShowImg-album
Comment[nds]=ShowImg-Album
Comment[nl]=ShowImg-album
Comment[pa]=ShowImg ਐਲਬਮ
Comment[pt]=Álbum ShowImg
Comment[pt_BR]=Álbum do ShowImg 
Comment[ru]=Альбом ShowImg
Comment[sr]=ShowImg-ов албум
Comment[sr@Latn]=ShowImg-ov album
Comment[sv]=Showimg-album
Comment[ta]=வைப்புத்தோற்றத்தைகாட்டு
Comment[tg]=Албоми Намоиши Тасвирҳо
Comment[tr]=ShowImg Albümü
Comment[uk]=Альбом ShowImg
Comment[vi]=Tập ảnh ShowImg
Comment[xx]=xxShowImg Albumxx
Comment[zh_CN]=ShowImg 相册
Encoding=UTF-8
Icon=imagegallery
MimeType=application/sia
Patterns=*.sia
Type=MimeType
