[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=File Reader Template
Name[ca]=Plantilla del lector de fitxers
Name[da]=Fillæser-skabelon
Name[de]=Vorlage für Dateibetrachter
Name[el]=Πρότυπο αναγνώστη αρχείων
Name[es]=Plantilla de lectura de ficheros
Name[et]=Faililugeja mall
Name[hi]=फाइल रीडर टेम्पलेट
Name[hu]=Fájlbeolvasó sablon
Name[it]=Modello di lettore file
Name[nl]=Sjabloon voor bestandslezer
Name[pt]=Modelo do Leitor de Ficheiros
Name[pt_BR]=Modelo de Leitor de Arquivos
Name[sr]=Шаблон читача фајлова
Name[sv]=Filläsningsmall
Name[ta]=Å¡÷ôÒÕÅ¡¸ §¸¡À¨À Å¡º¢ôÀÅ÷
Name[tr]=Dosya Okuyucu Şablonu
Name[xx]=xxFile Reader Templatexx
Name[zh_CN]=文件阅读器模板
Comment=Code template for a file reader plugin.
Comment[ca]=Plantilla de codi per a un connector lector de fiters.
Comment[da]=Kodeskabelon for et fillæser-plugin.
Comment[de]=Code-Vorlage für Dateibetrachter-Plugins
Comment[el]=Πρότυπο κώδικα για ένα πρόσθετο του αναγνώστη αρχείων.
Comment[es]=Plantilla de código para hacer un complemento de lectura de ficheros.
Comment[et]=Koodimall faililugeja pluginale.
Comment[hi]=फाइल रीडर प्लगइन हेतु कोड टेम्पलेट
Comment[hu]=Kódsablon fájlbeolvasó bővítőmodulhoz
Comment[it]=Modello di codice per un plugin per lettore di file.
Comment[nl]=Broncodesjabloon voor een bestandlezerplugin.
Comment[pt]=Modelo de código para um 'plugin' de leitura de ficheiros.
Comment[pt_BR]= Modelo de código para um plug-in de leitor de arquivos.
Comment[sr]=Шаблон кода за читача фајлова.
Comment[sv]=Kodmall för ett insticksprogram för filläsning
Comment[ta]=§¸¡ô¨À Å¡º¢òÐ ¦À¡Õû ¦º¡Õ¸ Å¡÷ô¨À ÀÂýÀÎò¾×õ.
Comment[tr]=Kod şablonu için bir dosya okuyucu eklenti.
Comment[xx]=xxCode template for a file reader plugin.xx
Comment[zh_CN]=文件阅读器插件的代码模板
