[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=indirect
X-Kst-Plugin-Author=The University of Toronto
Name=Indirect File Reader
Name[ca]=Lector de fitxers indirectament
Name[da]=Indirekte fillæser
Name[de]=Betrachter für Indirect File
Name[es]=Lector de ficheros indirectos
Name[et]=Indirect File lugeja
Name[it]=Lettore di file indiretto
Name[pt]=Leitor de Ficheiros Indirecto
Name[pt_BR]=Leitor de Arquivos Indireto
Name[sr]=Индиректни читач фајлова
Name[sv]=Indirekt filläsare
Name[xx]=xxIndirect File Readerxx
Comment=Indirect file reader plugin.
Comment[ca]=Connector per a llegir fitxers indirectament.
Comment[da]=Indirekte fillæser plugin.
Comment[de]=Plugin zum Lesen des Indirect-File-Formats
Comment[es]=Complemento para leer los ficheros Indirectos
Comment[et]=Indirect file lugemise plugin.
Comment[it]=Plugin per leggere file in formato indiretto.
Comment[pt]=Um leitor indirecto de ficheiros.
Comment[pt_BR]=plug-in do leitor de arquivos indiretos.
Comment[sr]=Додатак за индиректно читање фајлова.
Comment[sv]=Insticksprogram för indirekt filläsare.
Comment[xx]=xxIndirect file reader plugin.xx
