[Desktop Entry]
Encoding=UTF-8
Name=MyCustomObject
Name[et]=MinuEndaObjekt
Name[hi]=मेरी-मनपसंद-वस्तुएँ
Name[hr]=MojVlastitiObjekt
Name[it]=MioOggettoPersonalizzato
Name[nds]=MienEgenObjekt
Name[nl]=MijnEigenObject
Name[pt_BR]=MeuObjeto
Name[sv]=Mitt eget objekt
Name[tg]=ОбъектиОддииМан
Name[xx]=xxMyCustomObjectxx
ServiceTypes=JSBindingPlugin/Binding
Type=Service
X-KDE-Library=libcustomobjectplugin
