[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=scuba
X-Kst-Plugin-Author=The University of British Columbia
Name=SCUBA File Reader
Name[bg]=Четене на файлове SCUBA
Name[da]=SCUBA Fillæser
Name[de]=SCUBA-Dateileser
Name[el]=Αναγνώστης αρχείων SCUBA
Name[es]=Lector de archivos SCUBA
Name[et]=SCUBA-failide lugeja
Name[is]=SCUBA skráalesari
Name[it]=Lettore file SCUBA
Name[nds]=SCUBA-Dateileser
Name[nl]=SCUBA-bestandenlezer
Name[pa]=SCUBA ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros SCUBA
Name[pt_BR]=Leitor de Arquivos SCUBA
Name[sr]=Читач SCUBA фајлова
Name[sr@Latn]=Čitač SCUBA fajlova
Name[sv]=SCUBA-filläsare
Name[vi]=Bộ đọc tập tin SCUBA
Name[xx]=xxSCUBA File Readerxx

