[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_testplugin
X-Kst-Plugin-Author=The University of Toronto
Name=Test Plugin
Name[bg]=Тестова приставка
Name[ca]=Connector de prova
Name[da]=Testplugin
Name[de]=Testmodul
Name[el]=Πρόσθετο ελέγχου
Name[es]=Plugin de pruebas
Name[et]=Testplugin
Name[ga]=Breiseán Tástála
Name[is]=Prófunar íforrit
Name[it]=Plugin di prova
Name[ms]=Plugin Ujian
Name[nds]=Probeermoduul
Name[nl]=Testplugin
Name[pa]=ਟੈਸਟ ਪਲੱਗਇਨ
Name[pt]='Plugin' de Teste
Name[sr]=Тест прикључак
Name[sr@Latn]=Test priključak
Name[sv]=Testinsticksprogram
Name[vi]=Phần bổ sung thử
Name[xx]=xxTest Pluginxx
Comment=A test of new data object plugin system.
Comment[bg]=Изпробване на новата система приставки за данни.
Comment[ca]=Un connector del sistema per provar objectes nous de dades.
Comment[da]=En test af det nye pluginsystem for dataobjekter.
Comment[de]=Ein Test des neuen Datenobjekt-Modulsystems.
Comment[el]=Ένας έλεγχος ενός νέου αντικειμένου δεδομένου του συστήματος προσθέτων.
Comment[en_GB]=A test of new data object plugin system.s
Comment[es]=Una prueba para un nuevo sistema de plugins para objetos de datos.
Comment[et]=Uue andmeobjektiplugina süsteemi test.
Comment[is]=Íforrit sem prófar ný gögn kerfisbundið.
Comment[it]=Una prova del nuovo sistema di plugin di oggetti di dati.
Comment[nds]=En Prööv för dat niege Objekt-Moduulsysteem.
Comment[nl]=Een test van een nieuw pluginsysteem voor gegevensobjecten.
Comment[pt]=Um teste do novo sistema de 'plugins' de objectos de dados.
Comment[pt_BR]=Um teste de um novo sistema de plugin para objetos de dados.
Comment[sr]=Тест за нови систем прикључака објектних података.
Comment[sr@Latn]=Test za novi sistem priključaka objektnih podataka.
Comment[sv]=En test av det nya insticksprogramsystemet för dataobjekt.
Comment[vi]=Việc thử hệ thống phần bổ sung đối tượng mới.
Comment[xx]=xxA test of new data object plugin system.xx
