[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=planck
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK Plugin
Name[ca]=Connector PLANCK
Name[de]=PLANCK-Plugin
Name[es]=Complemento PLANCK
Name[et]=PLANCK plugin
Name[fi]=PLANCK-liitännäinen
Name[hi]=प्लांक प्लगइन
Name[hu]=PLANCK bővítőmodul
Name[it]=Plugin PLANCK
Name[nl]=PLANCK-plugin
Name[pt]='Plugin' PLANCK
Name[pt_BR]=Plug-in PLANCK
Name[sr]=PLANCK додатак
Name[sv]=Planck-insticksprogram
Name[ta]=PLANCK ¦À¡Õû ¦º¡ÕÌ
Name[tr]=PLANCK Eklentisi
Name[xx]=xxPLANCK Pluginxx
Name[zh_CN]=PLANCK 插件
Comment=Plugin to read PLANCK data.
Comment[ca]=Connector per a llegir dades PLANCK.
Comment[da]=Plugin til at læse PLANCK-data.
Comment[de]=Plugin zum Lesen von PLANCK-Daten
Comment[es]=Complemento para leer datos PLANCK.
Comment[et]=Plugin PLANCK andmete lugemiseks.
Comment[hi]=प्लांक डाटा पढ़ने हेतु प्लगइन
Comment[hu]=Bővítőmodul PLANCK-adatok beolvasásához
Comment[it]=Plugin per leggere dati PLANCK.
Comment[nl]=Plugin voor het lezen van PLANCK-gegevens.
Comment[pt]=Um 'plugin' para ler os dados do PLANCK.
Comment[pt_BR]=Plug-in para a leitura de dados PLANCK.
Comment[sr]=Додатак за читање PLANCK-ових података.
Comment[sv]=Insticksprogram för att läsa Planck-data.
Comment[ta]=PLANCK ¾¸Å¨Ä Å¡º¢ì¸ ¦À¡Õû ¦º¡Õ¸×õ.
Comment[tr]=Eklenti PLANCK verilerini okur.
Comment[xx]=xxPlugin to read PLANCK data.xx
Comment[zh_CN]=读取 PLANCK 数据的插件
