[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=healpix
X-Kst-Plugin-Author=Ted Kisner
Name=Healpix File Reader
Name[br]=Lenner ar restroù Healpix
Name[cs]=Čtečka Healpix souborů
Name[da]=Healpix fillæser
Name[de]=Healpix-Betrachter
Name[el]=Αναγνώστης αρχείων Healpix
Name[es]=Lector de archivos Healpix
Name[it]=Lettore file Healpix
Name[nl]=Healpix-bestandslezer
Name[pa]=ਹੀਲਪਿਕਸ ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros Healpix
Name[pt_BR]=Leitor de Arquivos Healpix
Name[sr]=Читач Healpix фајлова
Name[sr@Latn]=Čitač Healpix fajlova
Name[sv]=Healpix-filläsare
Name[tg]=Хонандаи Файли Healpix
Name[xx]=xxHealpix File Readerxx
Comment=Plugin to read Healpix FITS files.
Comment[da]=Plugin til at læse Healpix FITS filer.
Comment[el]=Πρόσθετο για ανάγνωση αρχείων Healpix FITS.
Comment[it]=Plugin per leggere i file Healpix FITS.
Comment[pt]=Um 'plugin' para ler ficheiros FITS do Healpix.
Comment[pt_BR]=Um 'plugin' para ler ficheiros FITS do Healpix.
Comment[sv]=Insticksprogram för att läsa Healpix FITS-filer.
Comment[xx]=xxPlugin to read Healpix FITS files.xx
