[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=frame
X-Kst-Plugin-Author=The University of Toronto
Name=Frame Reader
Name[ca]=Lector de frame
Name[da]=Ramme-læser
Name[de]=Frame-Betrachter
Name[el]=Αναγνώστης Frame
Name[es]=Lector de marcos
Name[et]=Raamilugeja
Name[hi]=फ्रेम रीडर
Name[hu]=Keretolvasó
Name[it]=Lettore frame
Name[nl]=Frame-lezer
Name[pt]=Leitor de Tramas
Name[pt_BR]=Leitor de Quadros
Name[sr]=Читач оквира
Name[sv]=Ramläsare
Name[ta]=ºð¼ò¨¾ Å¡º¢ôÀÅ÷
Name[tr]=Çerçeve Okuyucu
Name[xx]=xxFrame Readerxx
Name[zh_CN]=帧阅读器
Comment=Plugin to read the frame file format.
Comment[ca]=Connector per a llegir el format de fitxer «frame».
Comment[da]=Plugin til at ælse rammefil-format.
Comment[de]=Plugin zum Lesen des frame-Formats
Comment[el]=Πρόσθετο για την ανάγνωση της μορφής αρχείου frame.
Comment[es]=Complemento para leer el formato de fichero de marcos
Comment[et]=Plugin raamifailide (frame file) vormingu lugemiseks.
Comment[hi]=फ्रेम फाइल फॉर्मेट पढ़ने हेतु प्लगइन
Comment[hu]=Bővítőmodul Framefile fájlok beolvasásához
Comment[it]=Plugin per leggere il formato file frame.
Comment[nl]=Plugin voor het lezen van het frame-bestandsformaat.
Comment[pt]=Um 'plugin' para ler o formato do ficheiro de tramas.
Comment[pt_BR]=Plug-ins para a leitura do formato de arquivo de quadro.
Comment[sr]=Додатак за читање оквирног формата фајлова.
Comment[sv]=Insticksprogram för att läsa ramfilformat.
Comment[ta]=ºð¼ì§¸¡ô¨À Å¡º¢ôÀ¾üÌ ¦À¡Õû ¦º¡Õ¸×õ.
Comment[tr]=Çerçeve dosya biçimi okuma eklentisi.
Comment[xx]=xxPlugin to read the frame file format.xx
Comment[zh_CN]=阅读帧文件格式的插件
