[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_statistics
X-Kst-Plugin-Author=Andrew Walker
Name=Statistics
Name[bg]=Статистика
Name[br]=Stadegoù
Name[ca]=Estadístiques
Name[da]=Statistik
Name[de]=Statistiken
Name[el]=Στατιστικά μεγέθη
Name[es]=Estadística
Name[et]=Statistika
Name[ga]=Staitistic
Name[is]=Tölfræði
Name[it]=Statistiche
Name[ms]=Statistik
Name[nds]=Statistik
Name[nl]=Statistiek
Name[pa]=ਅੰਕੜੇ
Name[pt]=Estatísticas
Name[sr]=Статистика
Name[sr@Latn]=Statistika
Name[sv]=Statistik
Name[vi]=Thống kê
Name[xx]=xxStatisticsxx
Comment=Determines statistics for a given data set.
Comment[bg]=Определяне статистики за даден набор данни.
Comment[ca]=Determina les estadístiques d'un conjunt de dades donat.
Comment[da]=Beregner statistik for en given datamængde.
Comment[de]=Berechnet Statistiken für eine Datenmenge.
Comment[el]=Προσδιορίζει τα στατιστικά μεγέθη για ένα δοσμένο σύνολο δεδομένων.
Comment[es]=Determina estadísticas para un conjunto de datos.
Comment[et]=Määrab antud andmekogumi statistika.
Comment[is]=Ákvarðar tölfræði fyrir tiltekið gagnasett.
Comment[it]=Determina le statistiche per un insieme di dati.
Comment[nds]=Stellt statistsche Daten över en Datensett praat.
Comment[nl]=Bepaalt statistieken van een gegeven verzameling gegevens.
Comment[pt]=Determina as estatísticas para um determinado conjunto de dados.
Comment[pt_BR]=Determina estatísticas para um conjunto de dados fornecido.
Comment[sr]=Одређује стстистику за дати скуп података.
Comment[sr@Latn]=Određuje ststistiku za dati skup podataka.
Comment[sv]=Beräknar statistik för en given datamängd.
Comment[vi]=Tính thống kê cho một tập dữ liệu đã cho.
Comment[xx]=xxDetermines statistics for a given data set.xx
