[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=lfiio
X-Kst-Plugin-Author=The University of British Columbia
Name=LFIIO reader
Name[ca]=Lector LFIIO
Name[da]=LFIIO-læser
Name[de]=LFIIO-Betrachter
Name[es]=Lector de LFIIO
Name[et]=LFIIO lugeja
Name[it]=Lettore LFIIO
Name[pt]=Leitor da LFIIO
Name[pt_BR]=Leitor de LFIIO
Name[sr]=LFIIO читач
Name[sv]=LFIIO-läsare
Name[xx]=xxLFIIO readerxx
Comment=Implements support for reading FITS files into Kst.
Comment[ca]=Implementa en Kst el suport per a llegir fitxers FITS.
Comment[da]=Implementer støtte for at læse FITS-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von FITS-Dateien in Kst
Comment[es]=Implementa soporte para leer ficheros FITS en Kst.
Comment[et]=Kst FITS failide lugemise toetus.
Comment[it]=Implementa supporto per leggere file FITS in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do FITS no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos FITS dentro do Kst.
Comment[sr]=Имплементира читање FITS фајлова у Kst-у.
Comment[sv]=Implementerar stöd för att läsa in FITS-filer i Kst.
Comment[xx]=xxImplements support for reading FITS files into Kst.xx
