[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_crossspectrum
X-Kst-Plugin-Author=Barth Netterfield
Name=Cross Power Spectrum
Comment=Generates the cross power spectrum of one vector with another.
