[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ShowImg Image Viewer
Name[bg]=ShowImg - преглед на изображения
Name[br]=Gweler skeudennoù ShowImg
Name[ca]=Visualitzador d'imatges ShowImg
Name[cs]=Prohlížeč obrázků ShowImg
Name[da]=ShowImg billedfremviser
Name[de]=Bildbetrachter ShowImg
Name[el]=Προβολέας εικόνων ShowImg
Name[es]=Visualizador de imágenes ShowImg
Name[et]=ShowImg pildinäitaja
Name[fi]=ShowImg-kuvaselain
Name[fr]=ShowImg
Name[gl]=Visor de Imaxes ShowImg
Name[hi]=शो-आईएमजी छवि प्रदर्शक
Name[hr]=ShowImg preglednik slika
Name[is]=ShowImg myndaskoðari
Name[it]=Visualizzatore di immagini ShowImg
Name[ja]=ShowImg 画像ビューア
Name[ka]=ShowImg სურათების დამთვალიერებელი
Name[ms]=Pelihat Imej ShowImg
Name[nb]=Bildeviseren ShowImg
Name[nds]=Bildkieker ShowImg
Name[nl]=ShowImg-afbeeldingweergave
Name[pa]=ShowImg ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pt]=Visualizador de Imagens ShowImg
Name[pt_BR]=Mostrar imagem
Name[ru]=ShowImg
Name[sr]=ShowImg, приказивач слика
Name[sr@Latn]=ShowImg, prikazivač slika
Name[sv]=Showimg bildvisning
Name[ta]=பிம்பம்காட்டு என்பதை காட்டும் காட்சியாளன்
Name[tg]=Намоишгари тасвир
Name[tr]=ShowImg Resim Görüntüleyicisi
Name[uk]=Переглядач зображень ShowImg
Name[vi]=Bộ xem ảnh ShowImg
Name[xx]=xxShowImg Image Viewerxx
Name[zh_CN]=ShowImg 图像查看器
MimeType=image/gif;image/jpeg;image/png;image/x-bmp;image/x-eps;image/x-ico;image/x-krl;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbm;image/x-xpm
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libshowimgpart
InitialPreference=5
