[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-Kst-Plugin-Library=cdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=CDF File Reader
Name[br]=Lenner ar restroù CDF
Name[da]=CDF fillæser
Name[es]=Lector de archivos CDF
Name[et]=CDF-faili lugeja
Name[fr]=Lecteur de fichier CDF
Name[hi]=सीडीएफ़ फ़ाइल रीडर
Name[it]=Lettore file CDF
Name[nl]=CDF-bestandslezer
Name[pt]=Leitor de Ficheiros CDF
Name[pt_BR]=Leitor de Arquivos CDF
Name[sr]=Читач CDF фајлова
Name[sr@Latn]=Čitač CDF fajlova
Name[sv]=CDF-filläsare
Name[ta]=சிடிஎஃப் கோப்பு படிப்பான்
Name[tr]=CDF Dosyası Okuyucusu
Name[zh_CN]=CDF 文件阅读器
Comment=Implements support for reading CDF files into Kst.
Comment[da]=Implementerer støtte for at læse CDF-filer i Kst.
Comment[es]=Implementa soporte para leer archivos CDF en Kst.
Comment[et]=Kst CDF-failide lugemise toetus.
Comment[fr]=Prise en charge de la lecture des fichiers CDF dans Kst.
Comment[hi]=केएसटी में सीडीएफ़ फाइलें पढ़ने हेतु समर्थन इम्प्लीमेंट करता है.
Comment[it]=Implementa supporto per leggere file CDF in Kst.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van CDF-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do CDF no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos CDF  dentro do Kst.
Comment[sr]=Имплементира подршку за читање CDF фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje CDF fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in CDF-filer i Kst.
Comment[ta]=Kstக்குள் சிடிஎஃப் கோப்புகளை பட்டி ஆதரவை செயலாக்குகிறது.
Comment[tr]=Kst içine CDF dosyalarını okuma desteği sağlar.
Comment[zh_CN]=将 CDF 文件读入 Kst 的应用支持。
